body {
  background-color: #fff;
}

.regist {
  width: 100%;
  background-color: #fff;
  overflow: hidden;
}

.to-back {
  margin-left: .453333rem;
  margin-top: .133333rem;
  width: .346667rem;
  height: .56rem;
  background: url('../images/to_back.png') 0 0 no-repeat;
  background-size: .346667rem .56rem;
  border-radius: 100%;
}

.main {
  width: 83.33%;
  margin: 1.6rem auto 0;
}

.reg-title {
  font-size: .693333rem;
  color: #333333;
}

.content {
  margin-top: 2rem;
  width: 100%;
}

.reg-info p{
  widows: 100%;
  height: .84rem;
  border-bottom: 1px solid #E6E6E6;
  margin-bottom: .8rem;
  display: flex;
}

.reg-info p:nth-last-child(1) {
  margin-bottom: 0;
}

.area-num {
  padding: 0 .106667rem;
}

.reg-info p i {
  display: inline-block;
  width: .426667rem;
  height: .453333rem;
  background-size: .426667rem .453333rem;
  margin: auto;
  margin-top: 0;
}

.passw i {
  background: url('../images/reg_passw_0.png') 0 0 no-repeat;
}

.conf-passw i {
  background: url('../images/reg_passw_0.png') 0 0 no-repeat;
}

.reg-code i {
  background: url('../images/reg_code_0.png') 0 0 no-repeat;
  margin-right: .186667rem !important;
  margin-left: .133333rem !important;
}

.reg-info p input {
  border: none;
  caret-color: #604BF9 !important;
  font-size: .4rem;
  padding-top: 0;
  margin: auto;
  margin-top: 0;
}

.reg-info p input::placeholder {
  color: #9A9A9A;
}

.passw-input ,
.conf-passw-input {
  width: 7.066667rem;
  height: .453333rem;
  -webkit-text-security:disc !important;
}

.reg-code-input {
  width: 4.533333rem;
  height: .453333rem;
  margin-left: 0 !important;
}

.phone-num-area {
  display: flex;
  margin: auto;
  margin-top: 0;
  margin-left: .213333rem;
}

.phone-num-area b {
  font-weight: normal;
  color: #333333;
  font-size: .453333rem;
}

.phone-num-area em {
  display: inline-block;
  width: .266667rem;
  height: .16rem;
  background: url('../images/choose_area.png') 0 0 no-repeat;
  background-size: .266667rem .16rem;
  margin: auto;
}

.phone-num-input {
  width: 6rem;
  height: .453333rem;
}

.code-status {
  display: inline-block;
  margin: auto 0;
  margin-top: 0;
  font-size: .426667rem;
  color: #604BF9;
}

.reg-outer {
  width: 100%;
  border-radius: .266667rem;
  margin-top: 1.6rem;
  background-color: #EBEBEB;
  color: #999999;
}

.reg-outer .reg-btn {
  width: 100%;
  height: 1.28rem;
  line-height: 1.28rem;
  font-size: .48rem;
  text-align: center;
}

.reg-hightlight {
  background: linear-gradient(90deg,rgba(96,75,249,1),rgba(178,99,249,1));
  color: #fff;
}

.hide {
  display: none;
}