.setting-shade {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background:rgba(0,0,0,0.9);
  color: #ffffff;
  z-index: 100;
}

.set-title {
  width: 100%;
  height: 2.133333rem;
  line-height: 2.133333rem;
  text-align: center;
  font-size: .533333rem;
  letter-spacing: .266667rem;
  /* padding-top: .373333rem; */
  border-bottom: 1px solid #fff;
}

.set-title b {
  font-weight: lighter;
  vertical-align: middle;
}

.choose-lang ,
.choose-coin
{
  color: #fff;
  margin-left: .8rem;
  margin-top: .8rem;
}

.choose-lang p ,
.choose-coin p
{
  font-size: .453333rem;
  letter-spacing: .053333rem;
}

.choose-lang p b ,
.choose-coin p b
{
  vertical-align: middle;
  font-weight: lighter;
}

.lang-list ,
.coin-list
{
  margin-top: 1.066667rem;
}

.lang-list li ,
.coin-list li
{
  float: left;
  margin-bottom: .8rem;
}

.lang-list li:nth-child(odd) 
{
  margin-right: .533333rem;
}

.lang-list li:nth-child(3) ,
.lang-list li:nth-child(4) ,
.coin-list li:nth-child(5) ,
.coin-list li:nth-child(6)
{
  margin-bottom: 0;
}

.lang-list li:nth-child(1) div i {
  background: url('../images/jp_icon_0.png') 0 0 no-repeat;
  background-size: .88rem .813333rem;
}

.lang-list li:nth-child(2) div i {
  background: url('../images/cnf_icon_0.png') 0 0 no-repeat;
  background-size: .88rem .813333rem;
  margin-right: 1.013333rem;
}

.lang-list li:nth-child(3) div i {
  background: url('../images/en_icon_0.png') 0 0 no-repeat;
  background-size: .88rem .813333rem;
}

.lang-list li:nth-child(4) div i {
  background: url('../images/cnj_icon_0.png') 0 0 no-repeat;
  background-size: .88rem .813333rem;
  margin-right: 1.013333rem;
}

.lang-item {
  width: 4rem;
  height: .826667rem;
  color: #fff;
  display: flex;
}

.lang-item i {
  display: inline-block;
  width: .88rem;
  height: .813333rem;
  /* margin-right: .8rem; */
}

.lang-item b {
  font-size: .453333rem;
  display: inline-block;
  height: .826667rem;
  line-height: .826667rem;
  vertical-align: middle;
  letter-spacing: .066667rem;
  font-weight: lighter;
  margin: auto;
}

.coin-item {
  width: 4rem;
  height: .586667rem;
  color: #fff;
  display: flex;
}

.coin-item i {
  display: inline-block;
  width: .88rem;
  height: .586667rem;
  /* margin-right: .8rem; */
}

.coin-item b {
  font-size: .453333rem;
  display: inline-block;
  height: .586667rem;
  line-height: .586667rem;
  vertical-align: middle;
  letter-spacing: .066667rem;
  font-weight: lighter;
  margin: auto;
  text-align: left;
}

.coin-list li:nth-child(odd) {
  margin-right: .586667rem;
}

.coin-list li:nth-child(1) div i{
  background: url('../images/cny_flag.png') 0 0 no-repeat;
  background-size: .88rem .586667rem;
  margin-right: .4rem;
}

.coin-list li:nth-child(2) div i{
  background: url('../images/usd_flag.png') 0 0 no-repeat;
  background-size: .88rem .586667rem;
}

.coin-list li:nth-child(3) div i{
  background: url('../images/tw_flag.png') 0 0 no-repeat;
  background-size: .88rem .586667rem;
  margin-right: .4rem;
}

.coin-list li:nth-child(4) div i{
  background: url('../images/hk_flag.png') 0 0 no-repeat;
  background-size: .88rem .586667rem;
}

.coin-list li:nth-child(5) div i{
  background: url('../images/jp_flag.png') 0 0 no-repeat;
  background-size: .88rem .586667rem;
}

.coin-list li:nth-child(6) div i{
  background: url('../images/eur_flag.png') 0 0 no-repeat;
  background-size: .88rem .586667rem;
}

.btn-next {
  margin: .8rem 0 0 .8rem;
}

.btn-next .ensure {
  display: block;
  width: 8.4rem;
  height: 1.333333rem;
  line-height: 1.333333rem;
  background: linear-gradient(235deg,rgba(0,224,218,1),rgba(0,169,246,1));
  text-align: center;
  color: #fff;
  font-size: .506667rem;
  font-weight: normal;
  border-radius: .266667rem;
}

.btn-next p{
  width: 8.4rem;
  height: 44px;
  display: flex;
  margin-top: .213333rem;
}

.btn-next p .close {
  display: inline-block;
  width: .586667rem;
  height: .586667rem;
  background: url('../images/btn_close.png') 0 0 no-repeat;
  background-size: .586667rem .586667rem;
  margin: auto;
}